<div class="columns">
  <div class="card">
    <div class="card__content">
      <h3>1. Dorky Dorkface</h3>
      <p>Dorkface@gmail.com</p>
      <p>
        123 Some Street St<br>
        Lehi UT, 84058
      </p>
    </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <h3>2. Your Best friend in the entire wonderful world!</h3>
      <p>Dorkface@gmail.com</p>
      <p>
        123 Some Street St<br>
        Lehi UT, 84058123 Some Street St<br>
        Lehi UT, 84058123 Some Street St<br>
        Lehi UT, 84058123 Some Street St<br>
        Lehi UT, 84058123 Some Street St<br>
        Lehi UT, 84058123 Some Street St<br>
        Lehi UT, 84058123 Some Street St<br>
        Lehi UT, 84058
      </p>
    </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div>
  </div>
  <div class="card">
    <div class="card__content">
      <h3>3. This one has an even longer title that just goes on and one and on!</h3>
      <p>Dorkface@gmail.com</p>
      <p>
        123 Some Street St<br>
        Lehi UT, 84058
      </p>
    </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div>
  </div>
  <div class="card"><div class="card__content">
    <h3>4. Your Best friend in the entire wonderful world!</h3>
    <p>Dorkface@gmail.com</p>
    <p>
      123 Some Street St<br>
      Lehi UT, 84058
    </p>
  </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div></div>
  <div class="card"></div>
  <div class="card">    <div class="card__content">
    <h3>5. Dorky Dorkface</h3>
    <p>Dorkface@gmail.com</p>
    <p>
      123 Some Street St<br>
      Lehi UT, 84058
    </p>
  </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div></div>
  <div class="card"><div class="card__content">
    <h3>6. This one has an even longer title that just goes on and one and on!</h3>
    <p>Dorkface@gmail.com</p>
    <p>
      123 Some Street St<br>
      Lehi UT, 84058
    </p>
  </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div></div>
  <div class="card"><div class="card__content">
    <h3>7. This one has an even longer title that just goes on and one and on!</h3>
    <p>Dorkface@gmail.com</p>
    <p>
      123 Some Street St<br>
      Lehi UT, 84058
    </p>
  </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div></div>
  <div class="card">    <div class="card__content">
    <h3>8. Dorky Dorkface</h3>
    <p>Dorkface@gmail.com</p>
    <p>
      123 Some Street St<br>
      Lehi UT, 84058<br>
      123 Some Street St<br>
      Lehi UT, 84058<br>
      123 Some Street St<br>
      Lehi UT, 84058
    </p>
  </div>
    <div class="card__footer">
      <span>EDIT</span>
      <span>REMOVE</span>
    </div></div>
</div>
