$width: 450px;
$gap: 15px;

.columns {
  -webkit-column-count: auto;
  -webkit-column-gap: $gap;
  -webkit-column-fill: balance;
  -webkit-column-width: $width;
  -moz-column-count: auto;
  -moz-column-gap: $gap;
  -moz-column-fill: balance;
  -moz-column-width: $width;
  column-count: auto;
  column-gap: $gap;
  column-fill: balance;
  column-rule:3px solid #090;
  column-width: $width;
}

.card {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  transform: translateZ(0);

  &__content {
    padding: 0 15px;
  }

  &__footer {
    height: 40px;
    background-color: #eee;
    color: blue;
    line-height: 40px;
    padding-left: 15px;
    position: relative;
    bottom: 0;

    :first-child {
      margin-right: 30px;
    }
  }
}
