.masonry {
  background: #EEE;
  max-width: 100%;
}

.masonry .item,
.masonry .grid-sizer {
  width: 33.33%;
  color: white;
  height: 120px;
  float: left;
  border: 1px solid #303c49;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1399px) {
    width: 50%;
  }
  @media screen and (min-width: 1400px) and (max-width: 1899px) {
    width: 50%;
  }
  @media screen and (min-width: 1900px) {
    width: 33.33%;
  }
}

.masonry .item-large {
  height: 500px;
  background: #34b49d;
}

.masonry .item-normal {
  height: 250px;
  background: #cd8055;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.masonry .item,
.masonry .grid-sizer {
  //@include aspect-ratio(16,9);
}

//.masonry .item {
//  @media screen and (max-width: 768px) {
//    height: calc(100vw * 1);
//  }
//  @media screen and (min-width: 769px) and (max-width: 1399px) {
//    height: calc(100vw * 0.5);
//  }
//  @media screen and (min-width: 1400px) and (max-width: 1899px) {
//    height: calc(100vw * 0.5);
//  }
//  @media screen and (min-width: 1900px) {
//    height: calc(100vw * 0.333);
//  }
//}