<div class="d-flex flex-row">
  <a *ngFor="let link of links"
     [routerLink]="['/home', link.category]"
     class="category-link"
     [ngClass]="{'active': category == link.category}">
    {{link.label}}
  </a>
</div>

<h1>Maintain Aspect Ratio Mixin</h1>
<div class="box sixteen-nine">
  <div class="content">
    <span>16:9</span>
  </div>
</div>

<div class="masonry" #grid>
  <div class="grid-sizer">1</div>
  <div *ngFor="let item of items" class="item"
       [ngClass]="{'item-large': item.size == 'large', 'item-normal': item.size == 'normal'}">
    {{item.value}}
  </div>
</div>


<pre>{{data | json}}</pre>
