<div class="d-flex flex-row">
  <a *ngFor="let link of links"
     [routerLink]="['/home', link.category]"
     class="category-link"
     [ngClass]="{'active': category == link.category}">
    {{link.label}}
  </a>
</div>

<div class="masonry" #grid>
  <div class="grid-sizer">1</div>
  <div *ngFor="let item of data; let i = index" class="item"
       [ngClass]="{'item-large': item.size == 'large', 'item-normal': item.size == 'normal'}">
    <app-seed [seed]="item">
    </app-seed>
  </div>
</div>

<app-seed>
</app-seed>
