.category-link {
  display: flex;
  font-size: 14px;
  color: #979797;
  line-height: 1.8;
  background: #F5F5F5;
  border: 1px solid #979797;
  &:hover {
    text-decoration: none;
  }
  &.active {
    color: white;
    background: #4A4A4A;
  }
}

.masonry {
  width: 100%;
  margin-top: 3rem;
}

.masonry .item,
.masonry .grid-sizer {
  width: 20%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1399px) {
    width: 50%;
  }
  @media screen and (min-width: 1400px) and (max-width: 1899px) {
    width: 33.33%;
  }
  @media screen and (min-width: 1900px) {
    width: 33.33%;
  }
}

.masonry .item,
.masonry .grid-sizer {
  color: white;
}
