.category-link {
  display: flex;
  font-size: 14px;
  padding: 5px 18px;
  color: #979797;
  background: #F5F5F5;
  margin-right: 12px;
  border: 1px solid #979797;
  &:hover {
    text-decoration: none;
  }
  &.active {
    color: white;
    background: #4A4A4A;
  }
}

.masonry {
  background: #EEE;
  max-width: 100%;
  margin-top: 90px;
}

.masonry .item,
.masonry .grid-sizer {
  width: 20%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1399px) {
    width: 50%;
  }
  @media screen and (min-width: 1400px) and (max-width: 1899px) {
    width: 50%;
  }
  @media screen and (min-width: 1900px) {
    width: 33.33%;
  }
}

.masonry .item,
.masonry .grid-sizer {
  color: white;
  height: 120px;
  float: left;
  border: 1px solid #303c49;
}

.masonry .item-large {
  //height: 500px;
  background: #34b49d;
}

.masonry .item-normal {
  //height: 250px;
  background: #cd8055;
}

.masonry .item-normal {
  @media screen and (max-width: 768px) {
    width: 100%;
    height: calc(100vw * 1);
  }
  @media screen and (min-width: 769px) and (max-width: 1399px) {
    width: 50%;
    height: calc(100vw * 0.5);
  }
  @media screen and (min-width: 1400px) and (max-width: 1899px) {
    width: 50%;
    height: calc(100vw * 0.5);
  }
  @media screen and (min-width: 1900px) {
    width: 33.33%;
    height: calc(100vw * 0.333);
  }
}

.masonry .item-large {
  @media screen and (max-width: 768px) {
    width: 100%;
    height: calc(100vw * 1 * .5);
  }
  @media screen and (min-width: 769px) and (max-width: 1399px) {
    width: 50%;
    height: calc(100vw * 0.5 * .5);
  }
  @media screen and (min-width: 1400px) and (max-width: 1899px) {
    width: 50%;
    height: calc(100vw * 0.5 * .5);
  }
  @media screen and (min-width: 1900px) {
    width: 33.33%;
    height: calc(100vw * 0.333 * .5);
  }
}
