<div class="d-flex flex-wrap pl-md-2 pr-md-2">
  <a *ngFor="let link of links"
     routerLink="{{link.link}}"
     class="category-link pl-2 pr-2 mr-2 mr-lg-4 mb-2"
     [ngClass]="{'active': category == link.category}">
    {{link.label}}
  </a>
</div>

<div class="masonry" lazy-load-images #grid>
  <div class="grid-sizer">1</div>
  <div *ngFor="let item of data; let i = index"
       class="item pl-0 pr-0 pl-md-2 pr-md-2 pb-3"
       [ngClass]="{'item-large': item.size == 'large', 'item-normal': item.size == 'normal'}">
    <app-seed [seed]="item">
    </app-seed>
  </div>
</div>
